@import url("../../../styles/base.css");

.wrapper {
    display: flex;
    margin: 0;

    width: 100%;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;

    flex-direction:column;
    flex: 1;
}
.details {
    padding: 0 var(--padding);

    .photoStrip {
        flex: 1;
        display: flex;
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    img {
        margin: 0 1px;
    }
}

.header {
    padding: 0 var(--padding);

}
.header h2 {
    font-size: 1.5em;
}